@{
    ViewBag.Title = "Edit Movie";
}

@model Movie


<h1>Edit the movie below</h1>
<form method="post" asp-action="Edit_Movie" class="form-group align-content-center">
    <input type="hidden" asp-for="MovieId" value="@Model.MovieId" />
    <div class="form-row">
        <label asp-for="Title">Title:</label>
        <input class="form-control" asp-for="Title" value="@Model.Title" />
    </div>
    <div class="form-row">
        <label asp-for="Category">Category:</label>
        <input class="form-control" asp-for="Category" value="@Model.Category" />
    </div>
    <div class="form-row">
        <label asp-for="Year">Year:</label>
        <input class="form-control" type="number" asp-for="Year" value="@Model.Year" />
    </div>
    <div class="form-row">
        <label asp-for="Director">Director:</label>
        <input class="form-control" asp-for="Director" value="@Model.Director" />
    </div>
    <div class="form-row">
        <label asp-for="Rating">Rating:</label>
        <select class="form-control" asp-for="Rating" value="@Model.Rating">
            <option value="">Select One</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="UR">UR</option>
            <option value="NR">NR</option>
            <option value="TV-14">TV-14</option>
            <option value="TV-PG">TV-PG</option>
            <option value="TV-Y7">TV-Y7</option>
        </select>
    </div>
    <div class="form-row">
        <label asp-for="Edited">Edited:</label>
        <select class="form-control" asp-for="Edited" value="@Model.Edited">
            <option value="">Select One</option>
            <option value="true">Yes</option>
            <option value="False">No</option>
        </select>
    </div>
    <div class="form-row">
        <label asp-for="Lent_To">Lent To:</label>
        <input class="form-control" asp-for="Lent_To" value="@Model.Lent_To " />
    </div>
    <div class="form-row">
        <label asp-for="Notes">Notes</label>
        <input class="form-control" asp-for="Notes" value="@Model.Notes" />
    </div>

    <br />
    <button class="btn btn-primary" type="submit" id="submitButton">Save Edits</button>
    <br />
    
    <div class="alert alert-light" asp-validation-summary="All"></div>
</form>